/*Root custom CSS style section*/
:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 253, 253);
  --tertiary-color: rgb(230, 230, 230);
  --card-color: rgb(233, 233, 233);
  --shadow: rgb(0, 0, 0);
  --outline: rgb(94, 0, 202);
  --button: rgb(174, 174, 180);
}

body {
  font-family: sans-serif;
  font-size: 1.2rem;
}

Nav {
  font-family: "Oleo Script", cursive;

  text-shadow: 2px, 2px, 5px rgba(22, 26, 255, 0.1);
}

h1,
h2,
h3 {
  font-family: "Rammetto One", cursive;
}

.shadow-text {
  text-shadow: 2px, 2px, 5px rgba(rgb(0, 0, 0));
}

.box-bg {
  background-color: rgba(255, 255, 255, 0.75);
}

.box-bg-dark {
  background-color: rgba(0, 0, 0, 0.89);
}

.box-margin {
  padding-bottom: 200px;
}

.bg1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./assets/images/tlbg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: hidden;
  overflow: auto;
}
/* Col styling */

/* Card styling */

.card-header {
  background-color: rgb(132, 132, 141);
  /* background: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 0, 0)); */
  font-family: "Libre Barcode 39 Text", cursive;
  font-family: "Monoton", cursive;
  font-family: "Orbitron", sans-serif;
  color: var(--secondary-color);
  text-shadow: 2px 2px 2px black;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  /* text-shadow: 2px 2px 2px rgb(16, 189, 0); */
}

.card-shadow {
  box-shadow: 2px 5px 15px var(--shadow);
}

.card a:hover,
.card a:active .card a.active {
  color: #002575;
  text-decoration: none;
  font-weight: bold;
}

/* Footer styling */
footer {
  background-color: rgb(0, 0, 0);
  color: var(--secondary-color);
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a:hover,
footer a:active,
footer a.active {
  color: #ffffff;
  text-decoration: none;
}
